/* .name {
  font-family: "Moon Flower Bold";
  color: rgb(236, 234, 234);
  border: 1px solid mediumpurple;
  box-shadow: inset 1px 1px 35px hsl(256, 67%, 65%);
  text-shadow: 1px 1px 15px hsl(256, 67%, 65%);
} */
